<div
  class="my-12 grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-2 lg:items-center"
>
  <div class="aspect-[6/4] w-full rounded">
    <app-skeleton [className]="'h-full w-full'" />
  </div>
  <div class="space-y-8">
    <app-skeleton [className]="'h-8 w-1/4'" />
    <div class="space-y-2">
      <div class="">
        <app-skeleton [className]="'h-8 w-1/4'" />
      </div>
      <div class="">
        <app-skeleton [className]="'h-8 w-1/4'" />
      </div>
      <div class="">
        <app-skeleton [className]="'h-8 w-1/4'" />
      </div>
    </div>
    <div class="space-y-2">
      <div class="">
        <app-skeleton [className]="'h-8 w-1/4'" />
      </div>
      <div class="">
        <app-skeleton [className]="'h-8 w-1/4'" />
      </div>
      <div class="">
        <app-skeleton [className]="'h-8 w-1/4'" />
      </div>
    </div>
  </div>
</div>
